asgiref==3.10.0
certifi==2025.11.12
charset-normalizer==3.4.4
cloudinary==1.44.1
colorama==0.4.6
dj-database-url==1.1.0
Django==5.0.1
django-cloudinary-storage==0.3.0
django-cors-headers==4.3.1
django-debug-toolbar==4.3.0
django-widget-tweaks==1.5.0
freetype-py==2.3.0
gunicorn==21.2.0
idna==3.11
packaging==25.0
pillow==10.2.0
psycopg2-binary==2.9.9
pycairo==1.29.0
pypng==0.20220715.0
python-dateutil==2.8.2
python-decouple==3.8
qrcode==7.4.2
reportlab==4.0.0
requests==2.32.5
rlPyCairo==0.4.0
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.6.2
whitenoise==6.6.0
